<div class=body>
  <div class="container content">
    <br>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="cover lark">
            <div class="gravatar lark"></div>
          </div>
          <h1 class="xxl">{{payloadname}}</h1>
          <h2 class="default">{{payloademail}}</h2>
          <br>
          <a href="/favs" class="btn btn-dark">
            Go to your favs cards!
          </a>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>