<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="home">
        🦷 Buena sonrisa
    </a>

    <!-- <div>
        <button class="btn btn-info"> Sacar Turno </button> &nbsp;&nbsp;
        <button class="btn btn-light"> Turnos Actuales </button> &nbsp;&nbsp;
        <button class="btn btn-secondary"> Turnos Pasados </button> &nbsp;&nbsp;
    </div> -->

    <div class="menu-siguser">
        <img src="{{foto}}" style="height: 45px;">
        -
            {{nombre}}
        -
        <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg" (click)="turnOff()">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>
    </div>

</nav>