.container-detalles{
  text-align: center;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 33px;
}

.Gatx {
  background-color: rgba(255, 0, 85, 0.979);
  
}
  
.Perrx {
  background-color: rgb(24, 218, 24, 0.979);
}

.Pez {
  background-color:  rgb(49, 49, 255, 0.979);
  
}

.error{
  color: rgb(255, 255, 255);
  /* text-align: center; */
  background-color: rgba(184, 0, 0, 0.952);    
}