<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-sm btn-secondary" type="button" (click)="altaLocal = true; altaProd = false; tablaProd = false; busqueda = false;">Alta Local</button> &nbsp;&nbsp;
      <button class="btn btn-sm btn-secondary" type="button" (click)="altaLocal = false; altaProd = true; tablaProd = false; busqueda = false;">Alta Productos</button> &nbsp;&nbsp;
      <button class="btn btn-sm btn-secondary" type="button" (click)="altaLocal = false; altaProd = false; tablaProd = true; busqueda = false;">Productos</button> &nbsp;&nbsp;
      <a href="http://localhost:1000/maps"> <button class="btn btn-sm btn-secondary" type="button">Mapas</button></a> &nbsp;&nbsp;
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos" aria-label="Search" [(ngModel)]="parametro" name="parametro">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarPro(parametro)">🔍</button>
      </form>  
      &nbsp;&nbsp; <h2> - {{Usu.nombre}}</h2>
    </form>
</nav>

<div *ngIf="altaLocal == true">
    <app-carga-locales></app-carga-locales>
</div>
<div *ngIf="altaProd == true">
    <app-carga-productos></app-carga-productos>
</div>

<div *ngIf="tablaProd == true">
    <app-table-productos></app-table-productos>
</div> 

<div *ngIf="busqueda == true">
    <app-busqueda [paramBus]="parametr"></app-busqueda>
</div> 
